@import "../node_modules/@alexsad95/initcss/scss/init.scss";

.tippy-arrow {
  color: var(--text-color);
}

.tippy-box[data-theme~="custom"] {
  background: var(--text-color);
  color: var(--bg-color);
  border-radius: var(--spacing-2xs);
}

input[type="color"] {
  padding: var(--spacing-px);
  border-radius: var(--spacing-2xs);
  border: var(--spacing-2px) solid;
}

#theme-changing-block {
  position: absolute;
  display: none;
  top: var(--spacing-l);
  text-align: center;
  z-index: 1;
  width: 320px;
  background: var(--sub-alt-color);
  padding: var(--spacing-16px);
  border-radius: var(--spacing-2xs);
  border: var(--spacing-2px) solid;
  &.active {
    display: block;
  }
  & hstack:not(:last-child) {
    margin-bottom: var(--spacing-10px);
  }
}
