@import "@alexsad95/initcss";
@import "tippy.js/dist/tippy.css";
// @import "../../../css/init.css"; // for local development

.tippy-arrow {
  color: var(--text-color);
}

.tippy-box[data-theme~="custom"] {
  background: var(--text-color);
  color: var(--bg-color);
  border-radius: var(--size-2xs);
}

input[type="color"] {
  padding: var(--size-px);
  border-radius: var(--size-2xs);
  border: var(--size-2px) solid;
}

#theme-changing-block {
  position: absolute;
  display: none;
  top: var(--size-l);
  text-align: center;
  z-index: 1;
  width: 320px;
  background: var(--sub-alt-color);
  padding: var(--size-16px);
  border-radius: var(--size-2xs);
  border: var(--size-2px) solid;
  &.active {
    display: block;
  }
  & hstack:not(:last-child) {
    margin-bottom: var(--size-10px);
  }
}
