/* BORDER-RADIUS */

.ic-br-0 {
  border-radius: 0;
}

.ic-br-3xs {
  border-radius: var(--size-3xs);
}

.ic-br-2xs {
  border-radius: var(--size-2xs);
}

.ic-br-xs {
  border-radius: var(--size-xs);
}

.ic-br-s {
  border-radius: var(--size-s);
}

.ic-br-m {
  border-radius: var(--size-m);
}

.ic-br-100 {
  border-radius: 100%;
}

.ic-br-pill {
  border-radius: 9999px;
}

.ic-br-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ic-br-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ic-br-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ic-br-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
