/* COORDINATES */

.ic-top-0 {
  top: 0;
}

.ic-right-0 {
  right: 0;
}

.ic-bottom-0 {
  bottom: 0;
}

.ic-left-0 {
  left: 0;
}

.ic-top-s {
  top: var(--size-s);
}

.ic-right-s {
  right: var(--size-s);
}

.ic-bottom-s {
  bottom: var(--size-s);
}

.ic-left-s {
  left: var(--size-s);
}

.ic-top-m {
  top: var(--size-m);
}

.ic-right-m {
  right: var(--size-m);
}

.ic-bottom-m {
  bottom: var(--size-m);
}

.ic-left-m {
  left: var(--size-m);
}

.ic-top-l {
  top: var(--size-l);
}

.ic-right-l {
  right: var(--size-l);
}

.ic-bottom-l {
  bottom: var(--size-l);
}

.ic-left-l {
  left: var(--size-l);
}

.ic-fill {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
