/* WIDTHS, HEIGHTS */

@use "../utils/sizes" as *;

$sizes: map-merge($sizes-1, $sizes-2);
$sizes: map-merge($sizes, $ext-size);

@each $key, $value in $sizes {
  .ic-w-#{$key} {
    width: var(--size-#{$key});
  }

  .ic-max-w-#{$key} {
    max-width: var(--size-#{$key});
  }

  .ic-min-w-#{$key} {
    min-width: var(--size-#{$key});
  }
}

@each $key, $value in $sizes {
  .ic-h-#{$key} {
    height: var(--size-#{$key});
  }

  .ic-max-h-#{$key} {
    max-height: var(--size-#{$key});
  }

  .ic-min-h-#{$key} {
    min-height: var(--size-#{$key});
  }
}
