/* WIDTHS, HEIGHTS */

@import "../utils/sizes";

$sizes: map-merge($sizes-1, $sizes-2);
$sizes: map-merge($sizes, $ext-size);

@each $key, $value in $sizes {
  .w-#{$key} {
    width: var(--size-#{$key});
  }

  .max-w-#{$key} {
    max-width: var(--size-#{$key});
  }

  .min-w-#{$key} {
    min-width: var(--size-#{$key});
  }
}

@each $key, $value in $sizes {
  .h-#{$key} {
    height: var(--size-#{$key});
  }

  .max-h-#{$key} {
    max-height: var(--size-#{$key});
  }

  .min-h-#{$key} {
    min-height: var(--size-#{$key});
  }
}
