/* SPACING */

@import "../utils/sizes";

$all-sizes: map-merge($sizes-1, $ext-size);

@each $key, $value in $all-sizes {
  .ic-pa-#{$key} {
    padding: #{$value};
  }

  .ic-pl-#{$key} {
    padding-left: #{$value};
  }

  .ic-pr-#{$key} {
    padding-right: #{$value};
  }

  .ic-pb-#{$key} {
    padding-bottom: #{$value};
  }

  .ic-pt-#{$key} {
    padding-top: #{$value};
  }

  .ic-py-#{$key} {
    padding-top: #{$value};
    padding-bottom: #{$value};
  }

  .ic-px-#{$key} {
    padding-left: #{$value};
    padding-right: #{$value};
  }

  .ic-ma-#{$key} {
    margin: #{$value};
  }

  .ic-ml-#{$key} {
    margin-left: #{$value};
  }

  .ic-mr-#{$key} {
    margin-right: #{$value};
  }

  .ic-mb-#{$key} {
    margin-bottom: #{$value};
  }

  .ic-mt-#{$key} {
    margin-top: #{$value};
  }

  .ic-my-#{$key} {
    margin-top: #{$value};
    margin-bottom: #{$value};
  }

  .ic-mx-#{$key} {
    margin-left: #{$value};
    margin-right: #{$value};
  }
}
