@use "atomic/positioning";
@use "atomic/coordinates";
@use "atomic/border-radius";
@use "atomic/spacing";
@use "atomic/sizes";
@use "utils/variables";
@use "utils/helpers";
@use "_layout";

@import "utils/sizes";

:root {
  @each $key, $value in $sizes-1 {
    --size-#{$key}: #{$value};
  }

  @include variables.main;

  .dark {
    @include variables.dark-theme;
  }

  .light {
    @include variables.light-theme;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 969px;
  padding: var(--size-m);
  font-family: var(--font);
  line-height: 1.4;
  color: var(--text-color);
  background: var(--bg-color);
}

.shrink {
  flex: 2 2;
}

select {
  cursor: pointer;
  appearance: none;
  width: 100%;
  color: var(--text-color);
  border: 2px solid transparent;
  border-radius: var(--size-xs);
  background-color: var(--sub-alt-color);
  background-image: var(--selector-image);
  background-repeat: no-repeat;
  background-position: right var(--size-s) center;
  padding: var(--size-xs);
  font-size: var(--size-s);
  font-family: var(--font);
  caret-color: var(--main-color);
  line-height: 1.25em;
  transition: border-color 0.1s ease;

  &:focus {
    border-color: var(--text-color);
    outline: none;
  }
}

input,
textarea {
  border: 2px solid transparent;
  border-radius: var(--size-xs);
  background: var(--sub-alt-color);
  color: var(--text-color);
  padding: var(--size-xs);
  font-size: var(--size-s);
  font-family: var(--font);
  caret-color: var(--main-color);
  line-height: 1.25em;
  transition: border-color 0.1s ease;

  &:disabled {
    opacity: 0.3;
  }
}

input:focus-visible,
textarea:focus-visible {
  border-color: var(--text-color);
  outline: none;
}

@mixin range-thumb-style {
  height: var(--size-s);
  width: var(--size-m);
  border-radius: var(--size-xs);
  background-color: var(--text-color);
  cursor: pointer;
  border: none;
}

input[type="range"] {
  appearance: none;
  padding: 0;
  width: 100%;
  border-radius: var(--size-xs);

  // remove the standard style in Firefox
  &::-moz-range-track {
    background-color: #ccc;
    border-radius: 2px;
    height: var(--size-2xs);
  }

  // remove the focus-wiring in Safari
  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include range-thumb-style;
  }

  &::-moz-range-thumb {
    @include range-thumb-style;
  }

  &::-ms-thumb {
    @include range-thumb-style;
  }
}

textarea {
  resize: vertical;
  width: 100%;
  padding: var(--size-xs);
  line-height: 1.2rem;
  min-height: var(--size-l);
  max-height: var(--size-2xl);
}

:autofill,
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0 1000px var(--sub-alt-color) inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

::-moz-selection {
  background: var(--text-color);
  color: var(--sub-alt-color);
}

::selection {
  background-color: var(--main-color);
  color: var(--sub-alt-color);
}

blockquote {
  border-left: 4px solid var(--main-color);
  margin: 0;
  padding: var(--size-xs) var(--size-s);
  font-style: italic;
}

blockquote > footer {
  margin-left: var(--size-xs);
  margin-top: var(--size-xs);
  font-style: normal;
  font-size: 0.8rem;
  color: var(--main-color);
  border: 0;
}

blockquote cite {
  font-style: normal;
}

h1 {
  font-size: 1.8rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
  font-weight: 600;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help;
}

small {
  font-size: x-small;
  display: inline-block;
}

sub {
  font-size: x-small;
}

sup {
  font-size: x-small;
}

var {
  font-size: small;
}

ol,
ul,
dl {
  margin: 0;
}

dt {
  font-size: large;
  font-weight: 600;
}

dd {
  margin-left: var(--size-m);
  margin-top: var(--size-s);
}

mark {
  background-color: var(--highlight);
  border-radius: var(--size-2xs);
  padding: var(--size-3xs);
  color: var(--black);
}

kbd {
  color: var(--bg-color);
  background-color: var(--sub-color);
  border-radius: var(--size-2xs);
  padding: 0.2rem 0.3rem;
  margin: 0;
  display: inline-block;
  font-size: 0.7rem;
  line-height: 0.7rem;
}

pre {
  background: var(--sub-alt-color);
  border-radius: var(--size-xs);
  color: var(--text-color);
  padding: 1rem;
  overflow-x: auto;
  line-height: 1.5;
  tab-size: 2;
}

pre code {
  display: block;
  white-space: pre;
  padding: 0;
  text-wrap: auto;
}

code {
  font-family: "Fira Code", monospace;
  font-size: 0.8rem;
  background: var(--sub-alt-color);
  border-radius: var(--size-2xs);
  padding: 0.2rem 0.4rem;
}

.code-block {
  background: var(--sub-alt-color);
  border-radius: var(--size-xs);
  position: relative;
}

.code-block__header {
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0.5rem;
  background: var(--sub-alt-color);
  font-size: 0.75rem;
  font-family: monospace;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.code-block__lang {
  display: inline;
  padding-top: 0.35rem;
}

.code-block__copy-btn {
  display: none;
}

.code-block:hover .code-block__lang {
  display: none;
}

.code-block:hover .code-block__copy-btn {
  display: inline;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  text-align: center;
  color: var(--text-color);
  cursor: pointer;
  transition:
    background 0.125s,
    color 0.125s,
    opacity 0.125s;
  padding: 0.5em;
  border-radius: var(--size-xs);
  background: var(--sub-alt-color);
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  align-content: center;
  height: -moz-min-content;
  height: min-content;
  line-height: 1.25;
  appearance: none;
  border: none;
  font-family: inherit;
  font-size: 1em;
  display: inline-flex;
  gap: 0.5em;
  align-items: baseline;
  justify-content: center;

  &.outline {
    @include helpers.outline-property-basis(text);

    &.success {
      @include helpers.outline-property-basis(success);

      &:hover {
        border: 2px solid var(--success-color);
        background: var(--success-color);
        color: var(--bg-color);
      }
    }

    &.info {
      @include helpers.outline-property-basis(info);

      &:hover {
        border: 2px solid var(--info-color);
        background: var(--info-color);
        color: var(--bg-color);
      }
    }

    &.danger {
      @include helpers.outline-property-basis(error);

      &:hover {
        border: 2px solid var(--error-color);
        background: var(--error-color);
        color: var(--bg-color);
      }
    }
  }

  &.text {
    background: var(--bg-color);
    color: var(--text-color);

    &:hover {
      color: var(--text-color);
      background: var(--sub-alt-color);
    }

    &:active {
      opacity: 0.8;
      color: var(--text-color);
    }
  }

  &.link {
    background: none;
    color: var(--sub-color);

    &:hover {
      background: none;
      color: var(--text-color);
    }

    &:active {
      color: var(--sub-color);
    }
  }

  &.active {
    background: var(--main-color);
    color: var(--bg-color);

    &:hover {
      background: var(--text-color);
    }

    &:active {
      background: var(--sub-color);
      color: var(--bg-color);
    }
  }

  @include helpers.button-style(success);
  @include helpers.button-style(info);
  @include helpers.button-style(error);

  &[disabled],
  &.disabled {
    opacity: 0.3;
    pointer-events: none;

    &:hover {
      background: var(--text-color);
      outline: none;
    }

    &:active {
      background: var(--sub-color);
      color: var(--bg-color);
    }
  }

  &:hover {
    color: var(--bg-color);
    background: var(--text-color);
    outline: none;
  }

  &:focus-visible {
    box-shadow:
      0 0 0 0.1rem var(--bg-color),
      0 0 0 0.2rem var(--text-color);
    outline: none;
  }

  &:active {
    background: var(--sub-color);
    color: var(--bg-color);
  }

  &[data-smallest] {
    padding: 0.3rem 0.5rem;
    font-size: 0.65rem;
  }

  &[data-small] {
    padding: 0.3rem 0.6rem;
    font-size: 0.9rem;
  }

  &[data-large] {
    padding: 0.4rem 0.8rem;
    font-size: 1.5rem;
  }

  &[data-largest] {
    padding: 0.6rem 1.2rem;
    font-size: 1.7rem;
  }
}

a {
  display: inline-block;
  color: var(--sub-color);
  transition:
    color 0.125s,
    opacity 0.125s,
    background 0.125s;

  &.text,
  &.button {
    height: min-content;
    line-height: 1.25;
    display: inline-flex;
    gap: 0.5em;
    text-decoration: none;
    align-items: center;
    &:focus-visible {
      border-radius: var(--size-xs);
    }
  }

  &:hover {
    color: var(--text-color);
  }

  &:focus-visible {
    outline: none;
    box-shadow:
      0 0 0 0.1rem var(--bg-color),
      0 0 0 0.2rem var(--text-color);
    border-radius: calc(var(--size-xs) / 2);
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

fieldset[data-bordered] {
  border: 2px solid var(--main-color);
  border-radius: var(--size-xs);
  padding: 10px;
}

fieldset[data-dashed] {
  border: 2px dashed var(--main-color);
  border-radius: var(--size-xs);
  padding: 10px;
}

fieldset[data-dotted] {
  border: 2px dotted var(--main-color);
  border-radius: var(--size-xs);
  padding: 10px;
}

fieldset[data-horizontal] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-xs);
  align-items: flex-start;
}

p[data-small] {
  font-size: small;
}

p[data-large] {
  font-size: larger;
}

label {
  width: fit-content;
  display: block;
}

label:has([type="checkbox"], [type="radio"]) {
  cursor: pointer;
}

label:has([type="checkbox"]:disabled, [type="radio"]:disabled) {
  cursor: not-allowed;
  opacity: 0.3;
}

[disabled] {
  cursor: not-allowed;
}

input[type="checkbox"] {
  @include helpers.checkbox-and-radio-style();
  border-radius: 4px;
}

input[type="radio"] {
  @include helpers.checkbox-and-radio-style();
  border-radius: 100%;
}

.article-image {
  margin: 1rem 0;
  text-align: center;

  &__img {
    max-width: 100%;
    height: auto;
    border-radius: var(--size-xs);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }

  &__caption {
    display: block;
    margin-top: 0.4rem;
    font-size: 0.8rem;
    color: var(--sub-color);
    font-style: italic;
  }
}

.avatar {
  --avatar-size: 3rem;
  --avatar-radius: 50%;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin: 0px;
}

.avatar__image {
  border-radius: var(--avatar-radius);
  background-color: var(--sub-alt-color);
  width: var(--avatar-size);
  height: var(--avatar-size);
  object-fit: cover;
  border: 2px solid var(--text-color);
  transition: transform 0.2s ease;
}

.avatar__name {
  font-size: calc(var(--avatar-size) * 0.35);
  color: var(--text-color);
  font-weight: 500;
}

.avatar[data-small] {
  --avatar-size: var(--size-m);
}

.avatar[data-medium] {
  --avatar-size: var(--size-l);
}

.avatar[data-large] {
  --avatar-size: var(--size-xl);
}

.avatar[data-square] {
  --avatar-radius: 0;
}

.avatar[data-soft] {
  --avatar-radius: 0.5rem;
}

.avatar-group {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.avatar-group .avatar {
  margin-left: -0.5rem;
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  background-color: var(--sub-alt-color);
}

.avatar-group .avatar:first-child {
  margin: 0;
}

.avatar-group .avatar img {
  display: block;
  width: 100%;
  height: auto;
}

.avatar--more {
  width: var(--avatar-size);
  height: var(--avatar-size);
  background: var(--bg-color);
  border-radius: 50%;
  border: 2px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--text-color);
}

.avatar-group[data-small] .avatar {
  --avatar-size: var(--size-m);
  font-size: 0.75rem;
}

.avatar-group[data-large] .avatar {
  --avatar-size: var(--size-l);
  font-size: 1.25rem;
}
