// GENERATION OF CSS VARIABLES

@use "helpers";
@use "sizes" as *;
@use "scss-variables" as *;

$sizes: map-merge($sizes-1, $sizes-2);
$sizes: map-merge($sizes, $ext-size);

@mixin fonts {
  --font-base: #{$font-base};
  --font-heading: #{$font-heading};
  --font-mono: #{$font-mono};
}

@mixin sizes {
  @each $key, $value in $sizes {
    --size-#{$key}: #{$value};
  }
}

@mixin light-theme {
  --bg-color: #{$light-bg-color};
  --main-color: #{$light-main-color};
  --caret-color: #{$light-caret-color};
  --sub-color: #{$light-sub-color};
  --sub-alt-color: #{$light-sub-alt-color};
  --text-color: #{$light-text-color};
  --success-color: #{$light-success-color};
  --success-extra-color: #{$light-success-extra-color};
  --info-color: #{$light-info-color};
  --info-extra-color: #{$light-info-extra-color};
  --danger-color: #{$light-danger-color};
  --danger-extra-color: #{$light-danger-extra-color};
  --warning-color: #{$light-warning-color};
  --warning-extra-color: #{$light-warning-extra-color};
  --highlight: #{$light-highlight};
  --black: #{$light-black};
  --selector-image: #{helpers.arrow-icon-url-image($light-selector-color)};
}

@mixin dark-theme {
  --bg-color: #{$dark-bg-color};
  --main-color: #{$dark-main-color};
  --caret-color: #{$dark-caret-color};
  --sub-alt-color: #{$dark-sub-alt-color};
  --sub-color: #{$dark-sub-color};
  --text-color: #{$dark-text-color};
  --success-color: #{$dark-success-color};
  --success-extra-color: #{$dark-success-extra-color};
  --info-color: #{$dark-info-color};
  --info-extra-color: #{$dark-info-extra-color};
  --danger-color: #{$dark-danger-color};
  --danger-extra-color: #{$dark-danger-extra-color};
  --warning-color: #{$dark-warning-color};
  --warning-extra-color: #{$dark-warning-extra-color};
  --highlight: #{$dark-highlight};
  --black: #{$dark-black};
  --selector-image: #{helpers.arrow-icon-url-image($dark-selector-color)};
}
