// GENERATION OF CSS VARIABLES

@use "sass:map";
@use "helpers";
@use "sizes" as *;
@use "themes" as *;
@use "scss-variables" as *;

$sizes: map-merge($sizes-1, $sizes-2);
$sizes: map-merge($sizes, $ext-size);

@mixin radius {
  --radius: #{helpers.get-radius-value()};
  --radius-mini: #{helpers.get-radius-value-for-mini()};
}

@mixin fonts {
  --font-base: #{$font-base};
  --font-heading: #{$font-heading};
  --font-mono: #{$font-mono};
}

@mixin sizes {
  @each $key, $value in $sizes {
    --size-#{$key}: #{$value};
  }
}

@mixin apply-theme-vars($theme-name: "9009-light") {
  $actual-theme: map.get($themes, $theme-name);

  @if $actual-theme == null {
    @error "The `#{$theme-name}` theme isn't found.";
  }

  @each $key, $value in $actual-theme {
    --color-#{$key}: #{$value};
  }

  --color-success-extra: #{mix(black, map.get($actual-theme, "success"), 20%)};
  --color-info-extra: #{mix(black, map.get($actual-theme, "info"), 20%)};
  --color-warning-extra: #{mix(black, map.get($actual-theme, "warning"), 20%)};
  --color-danger-extra: #{mix(black, map.get($actual-theme, "danger"), 20%)};
  --colored-selector-image: #{helpers.arrow-icon-url-image(map.get($actual-theme, "text"))};
}
