// MAIN SCSS VARIABLES

// value for main border-radius of elements
// "0", "3xs", "2xs", "xs", "s" sizes
$rounded: "xs" !default;

// theme variant:
// "camping-light", "paper-light", "iceberg-light",
// "9009-light", "blueberry-light", "retro-light",
// "nord-dark", "gruvbox-dark", "dracula-dark",
// "repose-dark", "carbon-dark", "material-dark"
$theme: "gruvbox-dark" !default;

// fonts
$font-base: "Roboto Mono", monospace !default;
$font-heading: "Roboto Mono", monospace !default;
$font-mono: "Consolas", monospace !default;
