$sizes-1: (
  3xs: 0.125rem,
  2xs: 0.25rem,
  xs: 0.5rem,
  s: 1rem,
  m: 2rem,
  l: 4rem,
  xl: 8rem,
  2xl: 16rem,
  3xl: 32rem,
  4xl: 64rem
);

$sizes-2: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  third: calc(100% / 3),
  two-thirds: calc(100% / 1.5)
);

$ext-size: (
  0: 0,
  auto: auto
);
