/* BADGES */

@use "sass:map";
@use "../utils/scss-variables" as *;
@use "../utils/themes" as *;

$ic-colors: (
  primary: map-get(map-get($themes, $theme), "info"),
  danger: map-get(map-get($themes, $theme), "danger"),
  warning: map-get(map-get($themes, $theme), "warning"),
  success: map-get(map-get($themes, $theme), "success")
);

@mixin ic-badge-variant($name, $color) {
  &.ic-#{$name} {
    --ic-badge-color: #{$color};
    --ic-badge-bg: #{mix(white, $color, 80%)};

    .ic-badge-count {
      border: none;
    }
  }
}

.ic-badge {
  --primary: var(--color-info);
  --ic-badge-bg: var(--color-sub-alt);
  --ic-badge-color: var(--color-text);
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.1rem 0.5rem;
  font-size: 0.875rem;
  border-radius: var(--radius);
  background: var(--ic-badge-bg);
  color: var(--ic-badge-color);
  padding: 0.5rem;
  font-size: 1rem;
  height: 32px;

  &.ic-smallest {
    font-size: 0.6rem;
    height: 18px;
  }

  &.ic-small {
    font-size: 0.8rem;
    height: 24px;
  }

  &.ic-large {
    padding: 0.4rem 0.8rem;
    font-size: 1.5rem;
    height: 40px;
  }

  @each $name, $color in $ic-colors {
    @include ic-badge-variant($name, $color);
  }

  .ic-icon {
    line-height: 1;
  }

  .ic-badge-count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background: var(--ic-badge-color);
    color: var(--ic-badge-bg);
    border-radius: 9999px;
    border: 1px solid var(--color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.5rem;
    height: 1.5rem;
    padding: 0 0.4rem;
    font-size: 0.75rem;
    line-height: 1;
    white-space: nowrap;
  }
}
