pre {
  background: var(--sub-alt-color);
  border-radius: var(--size-xs);
  color: var(--text-color);
  padding: 1rem;
  overflow-x: auto;
  line-height: 1.5;
  tab-size: 2;
}

pre code {
  display: block;
  white-space: pre;
  padding: 0;
  text-wrap: auto;
}

code {
  font-family: "Fira Code", monospace;
  font-size: 0.8rem;
  background: var(--sub-alt-color);
  border-radius: var(--size-2xs);
  padding: 0.2rem 0.4rem;
}

.ic-code-block {
  background: var(--sub-alt-color);
  border-radius: var(--size-xs);
  position: relative;

  &__header {
    display: flex;
    justify-content: flex-end;
    padding: 0.25rem 0.5rem;
    background: var(--sub-alt-color);
    font-size: 0.75rem;
    font-family: monospace;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &__lang {
    display: inline;
    padding-top: 0.35rem;
  }

  &__copy-btn {
    display: none;
  }

  &:hover &__lang {
    display: none;
  }

  &:hover &__copy-btn {
    display: inline;
  }
}
