@mixin divider-style() {
  border: none;
  height: 1px;
  background: var(--sub-color);
  border-radius: var(--size-xs);
  margin: 1rem 0;
}

.ic-divider {
  @include divider-style();

  &-medium {
    @include divider-style();
    height: 2px;
  }

  &-thick {
    @include divider-style();
    height: 4px;
  }

  &-dotted {
    border: none;
    border-top: 1px dotted var(--sub-color);
    margin: 1.5rem 0;
  }

  &-dashed {
    border: none;
    border-top: 1px dashed var(--sub-color);
    margin: 1.5rem 0;
  }

  &-vertical {
    width: 1px;
    height: 1.5em;
    background: var(--sub-color);
    margin: 0 1rem;
  }

  &-text {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--sub-color);
    margin: 1rem 0;
  }

  &-text::before,
  &-text::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--sub-color);
  }

  &-text::before {
    margin-right: 0.5em;
  }

  &-text::after {
    margin-left: 0.5em;
  }
}
