fieldset {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: var(--size-xs);
  padding: 10px;
}

fieldset[data-horizontal] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-xs);
  align-items: flex-start;
}
