label {
  width: fit-content;
  display: block;
}

label:has([type="checkbox"], [type="radio"]) {
  cursor: pointer;
}

label:has([type="checkbox"]:disabled, [type="radio"]:disabled) {
  cursor: not-allowed;
  opacity: 0.3;
}
