/* LINKS */

a {
  display: inline-block;
  color: var(--color-sub);
  transition:
    color 0.2s,
    opacity 0.2s,
    background 0.2s;

  &.ic-text,
  &.ic-button {
    height: min-content;
    line-height: 1.25;
    display: inline-flex;
    gap: 0.5em;
    text-decoration: none;
    align-items: center;
  }

  &:hover {
    color: var(--color-text);
  }

  &:focus-visible {
    outline: none;
    box-shadow:
      0 0 0 0.1rem var(--color-background),
      0 0 0 0.2rem var(--color-text);
    border-radius: var(--radius);
  }
}
