table {
  width: 100%;
  border-spacing: 0;
  border: 2px solid var(--text-color);

  td,
  th {
    border: 1px solid var(--sub-color);
    padding: 0.6rem;
  }

  caption {
    padding: 0.6rem;
  }

  colgroup col.highlight-col {
    background: var(--sub-alt-color);
  }

  &[data-horizontal-dividers] {
    border: none;

    td,
    th {
      border: none;
      border-bottom: 1px solid var(--sub-color);
    }
  }

  &[data-hoverable] {
    tr:hover {
      background: var(--sub-alt-color);
    }
  }

  &[data-vertical-zebra] {
    td:nth-child(even),
    th:nth-child(even) {
      background: var(--sub-alt-color);
    }
  }

  &[data-horizontal-zebra] {
    tr:nth-child(even) {
      background: var(--sub-alt-color);
    }
  }
}
