/* TABLES */

table {
  width: 100%;
  border-spacing: 0;
  border: 2px solid var(--color-main);

  td,
  th {
    border: 1px solid var(--color-main);
    padding: 0.6rem;
  }

  caption {
    padding: 0.6rem;
  }

  colgroup col.ic-highlight-col {
    background: var(--color-sub-alt);
  }

  &.ic-horizontal-dividers {
    border: none;

    td,
    th {
      border: none;
      border-bottom: 1px solid var(--color-main);
    }
  }

  &.ic-hoverable {
    tr:hover {
      background: var(--color-sub-alt);
    }
  }

  &.ic-vertical-zebra {
    td:nth-child(even),
    th:nth-child(even) {
      background: var(--color-sub-alt);
    }
  }

  &.ic-horizontal-zebra {
    tr:nth-child(even) {
      background: var(--color-sub-alt);
    }
  }
}
