h1 {
  font-size: 1.8rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
  font-weight: 600;
}

h1[data-highlight] {
  background: var(--text-color);
  color: var(--bg-color);
  font-size: 3rem;
  display: inline;
  padding: 0 0.2em;
  margin-left: -0.2em;
  margin-right: -0.2em;
}

h1[data-primary] {
  word-break: normal;
  font-size: 4rem;
  line-height: 1;
  margin: 0 0 0.5rem;
  text-wrap: balance;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help;
}

small {
  font-size: x-small;
  display: inline-block;
}

sub {
  font-size: x-small;
}

sup {
  font-size: x-small;
}

var {
  font-size: small;
}

dt {
  font-size: large;
  font-weight: 600;
}

dd {
  margin-left: var(--size-m);
  margin-top: var(--size-s);
}

mark {
  background-color: var(--highlight);
  border-radius: var(--size-2xs);
  padding: var(--size-3xs);
  color: var(--black);
}

kbd {
  color: var(--bg-color);
  background-color: var(--sub-color);
  border-radius: var(--size-2xs);
  padding: 0.2rem 0.3rem;
  margin: 0;
  display: inline-block;
  font-size: 0.7rem;
  line-height: 0.7rem;
}

p[data-small] {
  font-size: small;
}

p[data-large] {
  font-size: larger;
}
