/* MAIN STYLES */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 969px;
  padding: var(--size-m);
  font-family: var(--font-base);
  line-height: 1.4;
  color: var(--color-text);
  background: var(--color-background);
}

::-moz-selection {
  background: var(--color-text);
  color: var(--color-sub-alt);
}

::selection {
  background: var(--color-text);
  color: var(--color-sub-alt);
}

:autofill,
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-text);
  -webkit-box-shadow: 0 0 0 1000px var(--color-sub-alt) inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

[disabled] {
  cursor: not-allowed;
}

.ic-bordered {
  border: 2px solid var(--color-main);
}

.ic-dashed {
  border: 2px dashed var(--color-main);
}

.ic-dotted {
  border: 2px dotted var(--color-main);
}

.ic-underline {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-main);
}
